.container{
  font-family: calibri
}
.header{
  width: 100%;
  overflow: hidden;
  border-bottom:1px solid gray;
  padding-bottom: 10px;
  font-size: 10px;
}
.header .left{
  width: 50%;
  float: left
}
.header .right{
  width: 35%;
  float: right
}
.header .right h3{
  border-bottom:2px solid black;
  text-align: center;
  padding-bottom: 5px;
}
.body-memo{
  width: 100%;
  overflow: hidden;
  font-size: 10px;
}
.raperind{
  font-size: 12px;
}
.rapad{
  font-size: 10px
}
.rap{
  padding-top:15px
}

.supplier{
  width: 100%;
  overflow: hidden;
  padding-top: 20px
}
.supplier .left{
  width: 50%;
  float: left
}
.supplier .right{
  width: 48.2%;
  float: right
}
.purchase-order{
  width: 100%;
  margin:20px 0;
}
.purchase-order table{
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
}
.purchase-order table tr td , .purchase-order table tr th{
  border:1px solid black;
  padding: 10px;
  font-size: 12px;
}
.purchase-order table tr .no{
  width: 5%;
}
.purchase-order table tr .item{
  width: 30%;
}
.purchase-order table tr .price{
  width: 20%;
}
.purchase-order table tr .qty{
  width: 10%;
}
.purchase-order table tr .discount{
  width: 15%;
}
.purchase-order table tr .subtotal{
  width: 20%;
}
.purchase-order table tr .noo{
  text-align: center
}
.purchase-order table tr .result{
  background: #ddd;
  padding: 4px 15px;
  font-style:italic
}
.authorized{
  text-align:right;
  margin-top:150px;
  padding: 15px 50px;
  border-top:1px solid black;
  /*width: 16%;*/
  width: 150px;
  float: right
}
.isi td{
  font-size:10px;
  padding: 4px 8px
}
.r td{
  font-size: 10px
}

div.garisbawah {
    text-align:center;
    border-bottom: 1px solid black;
    color: #FFFFFF;
    /*width: 350px;*/
}
td.tengah {
    text-align: center;
}
td.h250 {
    height: 200px;
}